@font-face{
    font-family: nasalization;
    src: url('./../fonts/nasalization-rg.ttf');
}

.fondo-team-section{
    background: url('./../imagenes/fondo-team.jpg');
    padding: 1.5rem;
}

.crear-team-section h1,h2{
    font-family: nasalization;
    text-align: center;
    color: rgb(117, 201, 204);
}

.seccion-crear-team{
    padding: 1.5rem;
    border: 2px solid rgb(48, 5, 148);
    border-radius: 15px;
    background: rgba(13, 1, 54, 0.5);

}

.modal-crear-team{

    background: rgb(212, 212, 212);
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    margin-top: 30px;
}
